@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

.reggae {
  font-family: "Reggae One", serif;
  font-weight: 400;
  font-style: normal;
}

.scroll-no-bars::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scroll-no-bars {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Board, card and pawn element styles */

/* Eligible pawns and targets */
.highlighted, .targeted.clickable-target {
	cursor: pointer;
}

/* Hover eligible targets and selected target */
.targeted.clickable-target:hover, .targeted.selected-target {
	background-color: theme("colors.neutral.400");
}

.blue-throne.empty::after {
	content: "青";
	color: theme("colors.blue.900");
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-size: x-large; */
	font-weight: bold;
	width: 100%;
	height: 100%;
}

.red-throne.empty::after {
	content: "赤";
	color: theme("colors.red.900");
	display: flex;
	justify-content: center;
	align-items: center;
	/* font-size: x-large; */
	font-weight: bold;
	width: 100%;
	height: 100%;
}

/* Don't highlight selected pawn */
.highlighted.pawn-selected{
	cursor: default;
}

/* highlighted space with red pawn */
.highlighted.red{
	background-color: theme("colors.red.300");
}

/* highlighted space with blue pawn */
.highlighted.blue{
	background-color: theme("colors.blue.300");
}

/* unhighlighted space */
.not-highlighted{
	background-color: theme("colors.neutral.300");
}

.targeted{
	background-color: theme("colors.neutral.300");
}

.targeted::after {
	content: "⌖";
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	width: 100%;
	height: 100%;
	color: black;
	margin-top: -4%;
}

.targeted.student::after, .targeted.master::after {
	color: white;
}

/* pawns styles for student and master */
.student, .master{
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* red student pawn */
.student.red {
	background-image: url('../public/red-student.png');
}

/* blue student pawn */
.student.blue {
	background-image: url('../public/blue-student.png');
}

/* red master pawn */
.master.red {
	background-image: url('../public/red-master.png');
}

/* blue master pawn */
.master.blue {
	background-image: url('../public/blue-master.png');
}

/* defeated pawns styles */
.defeated {
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* defeated student placeholder background image */
.defeated.sil {
	background-image: url('../public/sil-student.png');
}

/* defeated red student background image */
.defeated.red {
	background-image: url('../public/red-student.png');
}

/* defeated blue student background image */
.defeated.blue {
	background-image: url('../public/blue-student.png');
}

.highlighted-move {
	background-color: theme("colors.gray.500");
}

.highlighted-center {
	background-color: theme("colors.gray.900");
}

.text-shadow-xs {
	text-shadow: 1px 1px darkgray;
}

